.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  padding: 1rem 2.5rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.title .proofchain-logo {
  height: 38px;
}

.title p {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text);
  margin: 0;
}

.wallet-connector {
  
}
.connect-wallet {
  background-color: var(--primary);
  color: var(--text);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.connect-wallet:hover {
  filter: brightness(1.6);
}

.wallet-connector p {
  color: var(--text-alt);
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.wallet-connector p::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--success);
  border-radius: 50%;
  
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(16, 185, 129, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
  }
}