.verify-container {
  min-width: 60vw;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.verify-header {
  width: 100%;
  /* text-align: center; */
}
.verify-header h1 {
  color: var(--text);
  font-size: 2.5rem;
  font-weight: 1000;
  margin: 0 0 0.5rem 0;
}
.verify-header p {
  color: var(--text-alt);
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

/* verify details */
.verify-details {
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

/* Hash */
.verify-hash-display {
  width: 100%;
}
.verify-hash-display label {
  color: var(--text);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.7rem 0.5rem;
  display: block;
}
.verify-hash-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color-mix(in srgb, var(--bg) 95%, var(--text) 5%);
  border: 1px solid var(--text-alt);
  border-radius: 6px;
  padding: 0.75rem;
}
.verify-hash-input-wrapper span {
  color: var(--text);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  word-break: break-all;
  margin-right: 1.1rem;
}
.copy-button {
  background: none;
  border: none;
  color: var(--text-alt);
  cursor: pointer;
  padding: 0.25rem;
}
.copy-button:hover {
  color: var(--text);
}

/* verify button */
.verify-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-top: 1px solid var(--border);
  padding-top: 1.5rem;
  margin-top: 0.5rem;
}
.verify-button-main {
  width: auto;
  background-color: var(--primary);
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.85rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.verify-button-main ion-icon{
  font-size: 1.5rem;
}
.verify-button-main:hover {
  filter: brightness(1.6);
}
.verify-button-main:disabled {
  background-color: var(--primary-alt);
  color: var(--text-alt);
  cursor: not-allowed;
}

.verify-results {
  margin-top: 0.5rem;
  width: 100%;
}
.result-box {
  border-radius: 8px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-width: 1px;
  border-style: solid;
}
.result-box span { /* icon */
  font-size: 1.5rem;
  margin-top: 0.1rem;
}
.result-box.error {
  background-color: rgba(245, 158, 11, 0.05);
  border-color: var(--alert);
}
.result-box.error span { color: var(--alert) }
.result-box.error p { 
  color: var(--alert);
  font-weight: 500;
  font-size: 1rem;
}